* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #container_ar {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    margin: auto;
  }
  
  .circle_ar {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #4338CA;
    border-radius: 50%;
    animation: mid 1s linear infinite;
  }
  
  .loader1_ar,
  .loader2_ar,
  .loader3_ar,
  .loader4_ar {
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid #4338CA;
    border-bottom: 5px solid #4338CA;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }
  
  .loader1_ar {
    width: 90px;
    height: 90px;
    animation-delay: 0.1s;
  }
  
  .loader2_ar {
    width: 110px;
    height: 110px;
    animation-delay: 0.2s;
  }
  
  .loader3_ar {
    width: 130px;
    height: 130px;
    animation-delay: 0.3s;
  }
  
  .loader4_ar {
    width: 150px;
    height: 150px;
    animation-delay: 0.4s;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes mid {
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .restricttotwo_ar {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;

 }

 .myaccountbtn_ar:hover .myaccountdropdown_ar{
  display: block;
 }
 .mlimp0_ar{
  margin-left: 0px !important;
 }